html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  font-family: "museo-sans";
  background-color: #bcbcbc;
  color: #424242;
  line-height: 1;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }

h1, h2 {
  margin-bottom: 20px; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 30px; }

a {
  color: #2d89a7;
  text-decoration: none; }

.postcard {
  margin: 10px;
  margin-bottom: 10px;
  float: left;
  height: 540px; }
  .postcard img {
    border: 20px solid #e9e9e9; }
  .postcard .source {
    display: none;
    position: relative;
    margin-top: -521px;
    background-color: #e9e9e9;
    padding: 10px;
    padding-left: 30px;
    width: 70px;
    border-bottom-right-radius: 12px; }
  .postcard:hover .source {
    display: block; }

.about {
  clear: both;
  padding-top: 20px; }

#content {
  margin: 0px auto; }

@media screen and (min-width: 760px) {
  #content {
    width: 760px; } }
@media screen and (min-width: 1520px) {
  #content {
    width: 1520px; } }
@media screen and (max-width: 759px) {
  .postcard {
    clear: both;
    height: auto; }
    .postcard img {
      width: 90%; }
    .postcard:hover .source {
      display: none; } }
